/* Background */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #4E25B0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Overlay */
.overlay {
    width: 787px;
    height: 485px;
    background: rgba(108, 99, 255, 0.1);
    position: absolute;
}

/* Main Content */
.content {
    text-align: center;
    color: white;
}

/* Main Title */
.title {
    font-size: 172px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* Subtitle */
.subtitle {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.32px;
}

/* Description */
.description {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

/* Form */
form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

input {
    padding: 12px;
    font-size: 16px;
    width: 250px;
    border-radius: 12px 0 0 12px;
    border: 1px solid #E0E0E0;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 700;
    background: #6C63FF;
    color: white;
    border: none;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
}

button:hover {
    background: #554ce6;
}

/* Success Message */
.success {
    margin-top: 10px;
    font-size: 16px;
    color: lightgreen;
}
